# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so
.venv/
venv/
env/

# Django
*.sqlite3
local_settings.py
staticfiles/
mediafiles/

# Environment
.env

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
